.carts {
    .carts-control {
        width: 145px;
    }

    .carts-input-group {
        .form-control {
            padding: 15px 5px;
            text-align: center;
            height: 48px;
        }

        .btn {
            padding: 0 11px;
        }
    }

    .product-list-area {
        span {
            color: $primary;

            @include media-breakpoint-up(md) {
                color: $white;
            }
        }

        @include media-breakpoint-up(md) {
            background-color: $primary;
        }
    }

    .product-list-title {
        background-color: $primary-200;
        color: $primary;

        @include media-breakpoint-up(md) {
            background-color: $primary;
            color: $white;
        }

    }

    .carts-img {
        height: 110px;
        min-width: 110px;
        background-size: cover;
        background-position: center center;

        &.cart-image-sm {
            // height: 80px;
        }
    }
}

.carts-row {
    &+.carts-row {
        @include media-breakpoint-up(md) {
            border-top: solid 1px $primary-200;
        }
    }

    .price {
        a{
            text-decoration: none;
        }
        @include media-breakpoint-down(md) {
            border-top: solid 1px $primary-200;
            border-bottom: solid 1px $primary-200;
        }
    }
}