.bg-cover{
    background-size: cover;
    background-position: center center;
}

.btn-primary-lighter {
    background-color: $primary-200;
}

.btn-brand-bright {
    background-color: $white;
    border-color: #EAF0ED;
}
.btn-brand-light {
    @include button-variant($white, $primary-200);
}

.navbar-toggler {
    border: none;
}

.nav.nav-dark {
    &.nav-pills>.nav-link {
        border: $primary-200 1px solid;
    }

    .nav-link {
        color: $primary-200;
    }

    .nav-link.active {
        background-color: $primary-200;
        color: $primary;
    }

}