.header {
    .main-image {
        height: 496px;
    }
}
.btn-cart {
    background-color: transparent;
}
.carousel-inner {
    width: 100%;
    max-height: 496px !important;
}

.topic_area {
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateY(-30%);

    a:hover {
        text-decoration: none;
    }
    // margin-bottom: -80px;
    .topic {
        display: inline-block;
        width: 260px;
        height: 260px;
        background-position: center center;

        .text {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: $green;
            color: $white;
            opacity: .8;
            transition: all 0.5s;

            &:hover {
                background: $yellow;
                color: $green;
            }
        }

        p {
            font-size: 24px;
            writing-mode: vertical-lr;
        }

        .blur_bg {
            filter: blur(4px);
        }
    }

    .topic:nth-child(1) {
        background-image: url('../img/topic_1.jpg');
    }

    .topic:nth-child(2) {
        margin: 0 1px;
        background-image: url('../img/topic_2.jpg');
    }

    .topic:nth-child(3) {
        background-image: url('../img/topic_3.jpg');
    }

}

@media (max-width: 576px) {
    .topic_area {
        transform: translateY(0%);
    }
}