.item-card {
  // box-shadow: 0px 3px 5px rgba(0,0,0,0.10);
  // transition: box-shadow .3s;
  a:hover{
    text-decoration: none;
  }
  .item-img {
    height: 215px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .item-body {
    border: 1px solid #EAF0ED;
  }

  .item-tag {
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    background-color: #3F5D45;
    color: $white;
    position: absolute;
    top: 0;
    left: 30px;
    padding: 10px;
  }

  .item-name,
  .item-price {
    padding: 10px 0;
    font-size: 1rem;
  }

  // .item-name {
  //   border-right: 1px solid #EAF0ED;
  // }

  .item-price{
    font-weight: bold;
  }
  .item-starred-icon {
    position: absolute;
    top: 22px;
    right: 32px;
  }
}
// .item-card:hover{
//   box-shadow: 0px 9px 26px -3px rgba(0,0,0,0.45);
// }