.process-steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    $circle-size: 20px;

    .step-circle {
        display: flex;
        height: $circle-size;
        width: $circle-size;
        background-color: #3F5D45;
        border-radius: 10px;
        border: 1px solid #8DA291;
        z-index: 1;
        align-items: center;
        justify-content: center;
    }

    .completed {
        font-size: 1rem;
        color: #3F5D45;
        background-color: #EAF0ED;
    }

    .step-circle.active {
        &::after {
            content: "";
            display: block;
            height: $circle-size - 6;
            width: $circle-size - 6;
            border-radius: 10px;
            background-color: #EAF0ED;
        }
    }

    &::after {
        content: "";
        background-color: #8DA291;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }

    &.process-steps-dark {
        border-color: theme-color('primary');

        &:after {
            background-color: theme-color('primary');
        }

        .step-circle {
            background-color: #EAF0ED;
        }

        .step-circle.active {
            border-color: theme-color('primary');

            &:after {
                background-color: theme-color('primary');
            }
        }

        .step-circle {
            border-color: theme-color('primary');
        }

        // .step-circle.active {
        //     border-color: theme-color('primary');

        //     &:after {
        //         background-color: theme-color('primary');
        //     }
        // }

        .step-circle.completed {
            background-color: theme-color('primary');
            color: $primary-200;
        }
    }
}