
//bg , text , border lighter color
.text-primary-light {
  color: $primary-500 !important;
}
.text-primary-lighter {
  color: #EAF0ED !important;
}
.border-primary-lighter {
  border-color: $primary-200;
}

.bg-primary-lighter {
  background-color: $primary-200;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}


//文字直式排列

.writing-vertical {
  writing-mode: vertical-rl;
}
.writing-md-vertical {
  @include media-breakpoint-up(md) {
    writing-mode: vertical-rl;
  }
}

//spacing
.negative-margin {
  margin: 0 -15px;
  @include media-breakpoint-up(md) {
      margin: 0;
  }
}
