nav.navbar.navbar-dark.fixed-top.bg-primary.flex-md-nowrap.p-0.shadow
    a.navbar-brand(href="index.html")
      img.d-none.d-md-inline-block.mx-3(src="img/logo-all-light.png" height="40" alt="")
    input.form-control.form-control.w-100(type='text', placeholder='Search', aria-label='Search')
    ul.navbar-nav.px-3.d-flex.flex-row
      li.nav-item.text-nowrap.pr-3
          a.nav-link.text-primary-lighter(href='/public/index.html') 回到前台
      li.nav-item.text-nowrap
          a.nav-link.text-primary-lighter(href='#') 登出
