//- index.pug
doctype html
html(lang="en")
  include head.jade
  body.bg-primary-lighter
      include header.jade
      .container-fluid
        .row
            include sidebar.jade
            main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
              h2.mt-5.text-primary Overview
              .container-fluid
                .row.my-5
                  mixin totalList(title,number)
                    .col-4.bg-white.border.border-primary-lighter
                      .p-5
                        .d-flex.justify-content-center
                          i.fas.fa-hand-holding-usd.fa-2x
                          h5.pt-1.pl-2= title
                        .d-flex.justify-content-center
                          p.h2.font-weight-bold&attributes(attributes)= number
                  +totalList("TOTAL REVENUE","54,540")(class="text-primary")
                  +totalList("TOTAL COST","12,660")(class="text-danger")
                  +totalList("NET INCOME","41,880")(class="text-accent")
              .container-fluid
                .row.my-5
                  .col-md-12.bg-white.p-4
                    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                        h1.h2.text-primary Activity
                        div.mb-2.mb-md-0
                        .btn-toolbar.mb-2.mb-md-0
                            .input-group
                              input#Datedropper1.form-control(type='text',data-theme="sweet-datepick",data-large-mode="true",data-large-default="true")
                            i.fas.fa-caret-right.fa-lg.px-3.mt-3
                            .input-group
                              input#Datedropper2.form-control(type='text',data-theme="sweet-datepick",data-large-mode="true",data-large-default="true")
                              .input-group-append
                                button#date.btn.btn-sm.btn-outline-primary.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    span(data-feather='calendar')
                                    |                 Select Range
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                  a.dropdown-item.active(href='#') Daily
                                  a.dropdown-item(href='#') Weekly
                                  a.dropdown-item(href='#') Monthly
                                  a.dropdown-item(href='#') Yearly
                                  a.dropdown-item(href='#') Custom
                              //- button.btn.btn-sm.btn-outline-primary.ml-3 Apply
                              button.btn.btn-sm.btn-outline-primary.ml-3 Export
                      canvas#myChart.my-4.w-100(width='900', height='380')
              //- h2 Section title  
              .container-fluid
                .row.my-5
                  .col-md-6.bg-white.border.border-primary-lighter
                    h3.py-5.text-primary Transaction Website
                    table.table
                      tbody
                        tr
                          th(scope='row') 
                            i.text-primary.fab.fa-facebook.fa-3x
                          td.align-middle.h5.text-secondary Facebook.com
                          td.align-middle.h5 45,836
                          td.align-middle.text-primary(data-toggle="tooltip" data-html="true" title="INCREASE <span class='text-accent h5'>899</span> VIEWS </br> <em>last week : 44,937</em>")
                            i.fas.fa-arrow-up.fa-lg 20%
                        tr
                          th(scope='row') 
                            i.text-primary.fab.fa-google.fa-3x
                          td.align-middle.h5.text-secondary google.com
                          td.align-middle.h5 23,582
                          td.align-middle.text-primary(data-toggle="tooltip" data-html="true" title="INCREASE <span class='text-accent h5'>368</span> VIEWS </br> <em>last week : 44,937</em>")
                            i.fas.fa-arrow-up.fa-lg 12%
                        tr
                          th(scope='row') 
                            i.text-primary.fab.fa-facebook.fa-3x
                          td.align-middle.h5.text-secondary Shopify.com
                          td.align-middle.h5 2,489
                          td.align-middle.text-danger(data-toggle="tooltip" data-html="true" title="DECREASE <span class='text-accent h5'>144</span> VIEWS </br> <em>last week : 44,937</em>")
                            i.fas.fa-arrow-down.fa-lg 15%
                        tr
                          th(scope='row') 
                            i.text-primary.fab.fa-wordpress-simple.fa-3x
                          td.align-middle.h5.text-secondary Wordpress.com
                          td.align-middle.h5 1,057
                          td.align-middle.text-danger(data-toggle="tooltip" data-html="true" title="DECREASE <span class='text-accent h5'>68</span> VIEWS </br> <em>last week : 44,937</em>")
                            i.fas.fa-arrow-down.fa-lg 30%
                  .col-md-6.bg-white.border.border-primary-lighter
                    h3.py-5.text-primary Latest Orders
                    table.table.table-responsive-sm.text-primary-light.carts
                      thead
                          tr
                          th(scope='col') 商品名稱
                          th(scope='col') 總金額
                          th(scope='col') 付款狀態
                          th(scope='col') 配送狀態
                          th(scope='col') 訂單狀態
                        tbody
                            tr
                            th(scope='row') 香草巧克力棋格蛋糕
                                td NT$750
                                td 等待付款
                                td 未出貨
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                            tr
                            th(scope='row') 經典原味千層蛋糕
                                td NT$750
                                td 已付款
                                td 未出貨
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                            tr
                            th(scope='row') 伯爵千層蛋糕
                                td NT$750
                                td 已付款
                                td 出貨中
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
    include footer.jade
