doctype html
html(lang="en")
  include head.jade
  body.bg-primary-lighter
      include header.jade
      .container-fluid
        .row
            include sidebar.jade
            main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
              .container-fluid
                .row.my-5
                  .col-md-12.bg-white.border.border-primary-lighter
                    h3.py-5.text-primary Order List
                    .row.my-3.d-flex.justify-content-end
                      .col-md-2
                        select.custom-select.text-white
                          option(selected='') EDIT SECTION
                          option(value='1') Order ID
                          option(value='2') Customer
                    table.table.table-hover.table-responsive-sm.text-primary
                      thead
                          tr
                          th(width="50")
                            .custom-control.custom-checkbox
                              input#checkAll.check.custom-control-input(type='checkbox')
                              label.custom-control-label(for='checkAll') 
                          th(scope='col') 訂單編號
                          th(scope='col') 商品名稱
                          th(scope='col') 總金額
                          th(scope='col') 付款狀態
                          th(scope='col') 配送狀態
                          th(scope='col') 訂單狀態
                        tbody
                            tr
                            th
                              .custom-control.custom-checkbox
                                input#customCheck1.check.custom-control-input(type='checkbox')
                                label.custom-control-label(for='customCheck1') 
                            th(width="150") A2018094355
                            th(scope='row') 香草巧克力棋格蛋糕
                                td NT$750
                                td 等待付款
                                td 未出貨
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                            tr
                            th
                              .custom-control.custom-checkbox
                                input#customCheck2.check.custom-control-input(type='checkbox')
                                label.custom-control-label(for='customCheck2') 
                            th(width="150") B2018094356
                            th(scope='row') 經典原味千層蛋糕
                                td NT$750
                                td 已付款
                                td 未出貨
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情
                            tr
                            th
                              .custom-control.custom-checkbox
                                input#customCheck3.check.custom-control-input(type='checkbox')
                                label.custom-control-label(for='customCheck3') 
                            th(width="150") C2018094357
                            th(scope='row') 伯爵千層蛋糕
                                td NT$750
                                td 已付款
                                td 出貨中
                                td 
                                    button.btn.btn-accent.btn-sm(type='button') 查看詳情

    include footer.jade
