doctype html
html(lang="en")
  include head.jade
  body.bg-primary-lighter
      include header.jade
      .container-fluid
        .row
            include sidebar.jade
            main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
              .container-fluid
                mixin productList(seriesName)
                  .row.my-5
                    .col-md-12.bg-white.border.border-primary-lighter
                      .d-flex
                        h3.py-5.text-primary= seriesName
                        //- Button trigger modal
                        button.my-5.mx-3.btn.btn-primary(type='button', data-toggle='modal', data-target='#addNewProduct')
                          i.fas.fa-plus 
                            span.ml-1 ADD NEW PRODUCT 
                      table.table.table-hover.table-responsive-sm.text-primary
                        thead
                            tr
                            th(width="50")
                              .custom-control.custom-checkbox
                                input#checkAll.check.custom-control-input(type='checkbox')
                                label.custom-control-label(for='checkAll') 
                            th(scope='col') 商品名稱
                            th(scope='col') 原始價格
                            th(scope='col') 優惠價格
                            th(scope='col') 尺寸大小
                            th(scope='col') 庫存狀況
                            th(width="150") 品項上架狀態
                          tbody
                              tr
                              th
                                .custom-control.custom-checkbox
                                  input#customCheck1.check.custom-control-input(type='checkbox')
                                  label.custom-control-label(for='customCheck1') 
                              th(scope='row') 香草巧克力棋格蛋糕
                                  td NT$750
                                  td NT$650
                                  td 6吋
                                  td 
                                    button.btn.btn-accent.btn-sm(type='button',data-toggle="modal",data-target="#modal_detail1") 查看詳情
                                  td  
                                    select.custom-select.text-white
                                      option(selected='') STATUS
                                      option(value='pub') PUBLISHED
                                      option(value='unpub') UNPUBLISHED
                              tr
                              th
                                .custom-control.custom-checkbox
                                  input#customCheck2.check.custom-control-input(type='checkbox')
                                  label.custom-control-label(for='customCheck2') 
                              th(scope='row') 經典原味千層蛋糕
                                  td NT$750
                                  td NT$650
                                  td 6吋
                                  td 
                                      button.btn.btn-accent.btn-sm(type='button',data-toggle="modal",data-target="#modal_detail2") 查看詳情
                                  td  
                                    select.custom-select.text-white
                                      option(selected='') STATUS
                                      option(value='pub') PUBLISHED
                                      option(value='unpub') UNPUBLISHED
                              tr
                              th
                                .custom-control.custom-checkbox
                                  input#customCheck3.check.custom-control-input(type='checkbox')
                                  label.custom-control-label(for='customCheck3') 
                              th(scope='row') 伯爵千層蛋糕
                                  td NT$750
                                  td NT$650
                                  td 6吋
                                  td 
                                      button.btn.btn-accent.btn-sm(type='button',data-toggle="modal",data-target="#modal_detail3") 查看詳情
                                  td  
                                    select.custom-select.text-white
                                      option(selected='') STATUS
                                      option(value='pub') PUBLISHED
                                      option(value='unpub') UNPUBLISHED
                +productList('香草系列')
                +productList('巧克力系列')
                +productList('水果系列')
                +productList('訂製蛋糕')
            //- Modal
            #addNewProduct.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addNewProductLabel', aria-hidden='true')
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header.bg-primary
                    h5#addNewProductLabel.modal-title.text-white ADD NEW PRODUCT
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span.text-white(aria-hidden='true') ×
                  .modal-body
                    .container
                      .row
                        .col-md-5
                          h5 Upload Pictures
                          form
                            .form-group
                              input#pictureFiles.form-control-file(type='file')
                          h5 Uploaded Pictures
                          .row.mt-3
                            .col-6
                              img.listimg.img-fluid(src="https://images.unsplash.com/photo-1520528410595-13001151f055?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80", alt="")
                            .col-6
                              img.listimg.img-fluid(src="https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=506&q=80 ", alt="")
                          .row.mt-3
                            .col-6
                              img.listimg.img-fluid(src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80", alt="")
                        .col-md-7
                          h5 Product Discription
                          form(action="")
                            .form-group
                              label(for='productName') Product Name
                              input#productName.form-control(type='text', placeholder='Vestibulum nec')
                            .form-group
                              label(for='productDiscriptionArea') Product Discription
                              textarea#productDiscriptionArea.form-control(rows='3')
                            label.h5.mb-0(for='oriPrice') Price
                            br
                            small 
                              span.font-weight-bold.text-danger On SALE ! 50% Discount !
                            .form-row
                              .form-group.col-md-6
                                .input-group.mb-3
                                  .input-group-prepend
                                    span.input-group-text Original
                                  input#oriPrice.form-control(type='text',placeholder="$3,200", aria-label='Amount (to the nearest dollar)')
                                  //- .input-group-append
                                  //-   span.input-group-text NTD
                              .form-group.col-md-6
                                .input-group.mb-3
                                  .input-group-prepend
                                    span.input-group-text Discount
                                  input.form-control(type='text',placeholder="$2,800", aria-label='Amount (to the nearest dollar)')
                                  //- .input-group-append
                                  //-   span.input-group-text NTD
                          label.h5(for='Size') Specification
                          form(action="")
                            .form-row
                              .form-group.col-md-5
                                .input-group.mb-3
                                  .input-group-prepend
                                    span.input-group-text Size
                                    label(for='Size') 
                                    select#Size.form-control
                                      option 4吋
                                      option 6吋
                                      option 8吋
                              .form-group.col-md-7
                                .input-group.mb-3
                                  .input-group-prepend
                                    span.input-group-text Series
                                    label(for='Series') 
                                    select#Series.form-control
                                      option 香草系列
                                      option 巧克力系列
                                      option 水果系列
                                      option 訂製蛋糕
                          label.h5(for='ExpirationDate') Expiration Date
                          form(action="")
                            .form-row
                              .form-group.col-12
                                .input-group.mb-3
                                  .input-group-prepend
                                    span.input-group-text Date
                                  input#Datedropper3.form-control(type='text',data-theme="sweet-datepick",data-large-mode="true",data-large-default="true",data-modal="true")
                          button.btn.btn-primary.btn-block(type='button') 
                            i.fas.fa-plus 
                              span.ml-1 ADD NEW SPECIFICATION
                  .modal-footer
                    button.btn.btn-primary-lighter(type='button', data-dismiss='modal') CANCEL
                    button.btn.btn-accent(type='button') SAVE DRAFT
                    button.btn.btn-primary(type='button') PUBLISH
            mixin modalList(modalListName)
              div&attributes(attributes).modal.fade(tabindex='-1', role='dialog', aria-labelledby='mldalListIdLabel', aria-hidden='true')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header.bg-primary
                      h5#mldalListIdLabel.modal-title.text-white= modalListName
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                      table.table.table-hover
                        thead
                          tr
                            th(scope='col') #
                            th(scope='col') 保存期限
                            th(scope='col') 庫存數量
                            th(scope='col') 瑕疵品
                        tbody
                          tr
                            th(scope='row') 1
                            td 12/17/2018
                            td 10
                            td 1
                          tr
                            th(scope='row') 2
                            td 12/19/2018
                            td 8
                            td 3
                          tr
                            th(scope='row') 3
                            td 12/21/2018
                            td 6
                            td 2
                    .modal-footer
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                      button.btn.btn-primary(type='button') Save changes
            +modalList('香草巧克力棋格蛋糕')(id="modal_detail1")
            +modalList('經典原味千層蛋糕')(id="modal_detail2")
            +modalList('伯爵千層蛋糕')(id="modal_detail3")
    include footer.jade
