doctype html
html(lang="en")
  include head.jade
  body
    include header.jade
    section.container
      .row.carts.text-primary
        .col-md-8
          h2.h4.bg-primary-lighter.text-center.py-4.mb-0 您的購物車
          mixin cartsPart
            .carts-row.d-flex.flex-column.flex-md-row.py-3
              .d-flex.align-items-center.flex-grow-1.mr-md-3
                .flex-md-grow-0.flex-grow-1.my-4.mr-3
                  img.carts-img(src="https://images.unsplash.com/photo-1533987316049-f862f4a9af19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=162f445ffb5129abed8cb83477de2c22&auto=format&fit=crop&w=375&q=80", alt="")
                .d-flex.align-items-md-center.flex-column.flex-md-grow-1.flex-md-row
                  .flex-fill.mr-md-4
                      span#cartItemName.h5 焦糖馬卡龍
                      br
                      span#cartItemPrice NT$ 450
                  .carts-control.ml-md-auto.mt-3
                      .input-group.carts-input-group
                        .input-group-prepend#button-addon4
                          button.btn.btn-brand-bright.text-primary-light.material-icons#sub(type="button") remove
                        input.form-control#quantity(type="text",value="1")
                        .input-group-append#button-addon4
                          button.btn.btn-brand-bright.text-primary-light.material-icons#add(type="button") add
              .price.ml-md-auto.align-items-center.justify-content-end.py-3.d-flex.flex-row
                span.h5.mr-md-3.mb-0 NT$ 900
                a.delete.btn.material-icons(href="#", title="title") delete_outline
          +cartsPart
        .col-md-4.mb-5
          .product-list-area.text-white.p-3
            h2.h4.product-list-title.text-center.py-4 訂單摘要
            hr.border-white.mt-0
            .d-flex.justify-content-between.mb-3
              span 小計
              span NT$ 2,700
            .d-flex.justify-content-between.mb-3
              span 運費
              span NT$ 300
            .d-flex.justify-content-between.mb-3
              span.h5 總計
              span.h5 NT$ 3000
          .negative-margin
            a.btn.btn-lg.btn-accent.btn-block.py-3.text-primary(href="checkout-1.html") 結帳
    include footer.jade
    include scripts.jade