doctype html
html(lang="en")
  include head.jade
  body
    include header.jade
    section.container.mb-md-6
      .header
        .row.bg-cover.main-image.justify-content-center.align-items-center(style="background-image:url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c5a2cf31c693f5c15fb08135bf1adf2&auto=format&fit=crop&w=1347&q=80)")
          .col-md-4 
            .process-steps.process-steps-dark.mx-6.mb-4
              .step-circle.material-icons.completed done
              .step-circle.material-icons.completed done
              .step-circle.material-icons.completed done
            h1.text-center
              img(src="img/success.png", width="189")
              a.btn.btn-lg.btn-accent.btn-block.py-3.text-primary(href="product-1.html", title="title") 繼續逛逛
              a.btn.btn-lg.btn-primary.btn-block.py-3.text-primary-lighter(href="login-page.html", title="title") 查詢訂單
    include footer.jade
    include scripts.jade