footer.bg-primary-lighter.pb-4
  section.bg-primary.py-5.mb-4
    .container
        .row.justify-content-center
          .col-md-5.d-flex.align-items-center.justify-content-center.justify-content-md-start.mb-4.mb-md-0
            img(src="img/logo-light.png", width="40",alt="")
            span.text-white.mx-3.h4.mb-0 訂閱甜蜜蜜優惠郵件
          .col-md-5
            .form-square.form-square-withicon.d-flex.justify-content-between
              label.material-icons.form-square-icon-left.text-primary(for="subscription") email
              input.form-input.w-100(type="email")
              button.btn.btn-accent.btn-lg.d-flex.align-items-center.rounded-0(type="button")
                i.material-icons arrow_forward
  .container
    .row.justify-content-center
      .col-md-5.flex-column.d-flex.justify-content-between
        div
          img(src="img/logotype.png",width="171",alt="")
        ul.list-unstyled.text-primary
          li 02-1234-5678
          li sweetaste@email.com
          li 800台北市信義區幸福路 520 號
      .col-md-5.text-right.d-none.d-md-block
        img(src="img/sm-今天是個吃甜點的好日子.png",width="59",alt="")
    .row.justify-content-center.mt-6
      .col-md-5
        img.mr-1(src="img/ic-facebook.png" height="32" alt="")
        img(src="img/ic-line@.png" height="32" alt="")
      .col-md-5.text-md-right
        span © 2018 Sweetaste* All Rights Reserved


