header
      nav.navbar.navbar-expand-md.navbar-light
        .container
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            i.material-icons menu
          a.navbar-brand(href="index.html")
            img.d-inline-block.d-md-none(src="img/logotype-sm-dark.png" width="114" alt="")
            img.d-none.d-md-inline-block(src="img/logo-all-dark.png" height="40" alt="")
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link.text-primary(href="index.html") 首頁
                  span.sr-only (current)
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle.text-primary(href="#",role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 甜點                
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="product-1.html") 所有甜點
                  a.dropdown-item(href="product-1.html") 本日精選
                  a.dropdown-item(href="product-1.html") 人氣推薦
                  a.dropdown-item(href="product-1.html") 新品上市
              li.nav-item
                a.nav-link.text-primary(href="login-page.html") 會員登入                
          .dropdown.ml-auto
            button.btn.btn-cart(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              a.nav-link.d-flex.align-items-center.text-primary.order-md-1(href="carts.html")
                i.fas.fa-shopping-cart.mr-1
                span.badge.badge-pill.badge-danger 5
            .dropdown-menu.dropdown-menu-right(style="min-width: 300px")
              .p-4
                h6 已選擇的商品
                table.table.table-sm
                  tbody
                    tr 
                      td.align-middle.p-0.py-1 香草巧克力棋格蛋糕
                      td.align-middle.py-1 NT$750
                strong 總計: NT$750
                a.btn.btn-primary.btn-block.mt-2(href="carts.html", title="title") 立即結帳 