doctype html
html(lang="en")
  include head.jade
  body
    include header.jade
    section.container.my-8
      .row
        //- .col-md-3.mb-5
        //-   .list-group.text-center.sticky-top#list-tab
        //-     h2.bg-primary.h4.text-white.text-center.mb-0.py-3 甜點類別
        //-     a.list-group-item.list-group-item-action.h5.active(href="#pane-1",data-toggle="list") 所有甜點(48)
        //-     a.list-group-item.list-group-item-action.h5(href="#pane-2",data-toggle="list") 本日精選(10)
        //-     a.list-group-item.list-group-item-action.h5(href="#pane-3",data-toggle="list") 人氣推薦(26)
        //-     a.list-group-item.list-group-item-action.h5(href="#pane-4",data-toggle="list") 新品上市(12)
        .col-md-12
          //-產品內容
          .row
            .col-md-6
              #carousel-2.carousel.slide(data-ride="carousel")
                .carousel-inner
                  .carousel-item.active
                    img.d-block.w-100(src="https://images.unsplash.com/photo-1519197462-7755f76e6fbd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5417d039b52e0a67ff9e9e807b3fbb28&auto=format&fit=crop&w=401&q=80", alt="First slide")
                  .carousel-item
                    img.d-block.w-100(src="https://images.unsplash.com/photo-1533736998746-3cf85bb4dc4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83507498264fa46aaaec614d9fcfc6e2&auto=format&fit=crop&w=334&q=80", alt="Second slide")
                  .carousel-item
                    img.d-block.w-100(src="https://images.unsplash.com/photo-1517400415121-f913b6f87532?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=764e32a9a72c39a10404273dd2b28dac&auto=format&fit=crop&w=334&q=80", alt="Third slide")
                a.carousel-control-prev#carousel-2(href="#carousel-2" role="button" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")
                  span.sr-only Previous
                a.carousel-control-next#carousel-2(href="#carousel-2" role="button" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
                  span.sr-only Next
            .col-md-6
              .products-area
                .product-name.mb-3
                  h1.h2.my-5.my-md-0 香草巧克力棋格蛋糕
                  p.mb-md-0 Checkers
                  small.product-brief AW18116-a
                .product-price
                  p 售價
                  h4.price NT$750
                .product-variant-options
                  p.options-title.mb-0 尺寸
                  .btn-group.btn-group-toggle(data-toggle="buttons")
                    label.btn.btn-primary.active 4吋
                      input#option1(type="radio",name="options",autocomplete="off",checked)
                    label.btn.btn-primary 6吋
                      input#option1(type="radio",name="options",autocomplete="off")
                    label.btn.btn-primary 8吋
                      input#option1(type="radio",name="options",autocomplete="off")
                  p.options-title 數量
                  .input-group.w-50
                    #button-addon4.input-group-prepend
                      button#sub.btn.btn-brand-bright.text-primary-light.material-icons(type="button") remove
                    input#quantity.form-control(type="text",value="1")
                    #button-addon4.input-group-append
                      button#add.btn.btn-brand-bright.text-primary-light.material-icons(type="button") add
                .product-buttons
                  a.btn.btn-block.btn-accent(href="carts.html") 立即購買
                  a.btn.btn-block.btn-primary-lighter(href="carts.html") 加入購物車
          .row
            .col-md-12
              nav.nav.nav-tabs.nav-pills.nav-fill.nav-light.mt-5
                a#product-detail-1-tab.nav-item.nav-link.h4.py-3.active(href="#product-detail-1",data-toggle="tab") 商品介紹
                a#product-detail-2-tab.nav-item.nav-link.h4.py-3(href="#product-detail-2",data-toggle="tab") 運送說明
              .tab-content
                #product-detail-1.tab-pane.fade.active.show.text-center(role="tabpanel")
                  h2.my-3 商品介紹
                  p.mt-3.
                    チョコレートシフォンと濃厚な
                    ホワイトチョコレートクリームの組み合わせ
                  img(src="https://images.unsplash.com/photo-1519197462-7755f76e6fbd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5417d039b52e0a67ff9e9e807b3fbb28&auto=format&fit=crop&w=401&q=80", alt="")
                  p.mt-3.
                    シナモンがほのかに香るクレープ生地に
                    4種のクリームをサンドしました。
                  img(src="https://images.unsplash.com/photo-1533736998746-3cf85bb4dc4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83507498264fa46aaaec614d9fcfc6e2&auto=format&fit=crop&w=334&q=80", alt="")
                  h2.my-3 注意事項
                  p#notice 
                    ul.list-unstyled
                      li (1) 接單生產、新鮮製作，冷藏宅配、隔日為到貨日。
                      li (2) 產品保存期限請詳見包裝盒面標示，請趁新鮮享用。
                      li (3) 商品圖片僅供實物參考。內容物組成以實物及商品規格為主。
                      li (4) 食品因保存期限及衛生考量，一經拆封使用，或非運送過程失溫導致商品變質者，恕不適用七天鑑賞期。
                      li (5) 如遇新品瑕疵需辦理退換貨者，請維持商品完整，保留原包裝及發票，並於2日內辦理退換貨，逾期恕不受理。
                #product-detail-2.tab-pane.fade(role="tabpanel")
                  h2.my-3 運送說明
                  h4 自行門市取貨：
                  p.
                    購物商城提供您在網站上訂購完成後再至您鄰近的門市取貨！門市僅提供取貨服務，因作業流程關係恕無法提供您至門市付款並取貨之服務。<br />
                    ※欲上午時段取貨者，請於【上午12點後】再到門市取貨；選擇下午時段取貨，請【下午3點後】再到門市取貨<br />
                    ※節慶檔期恕無提供門市取貨之服務，相關內容請以官網公告為主
                  h4 宅配服務：
                  p.
                    為服務更多外縣市的朋友，購物商城之商品委託黑貓宅急便、新竹貨運配送！<br />
                    運費收費標準：消費未滿2500元，酌收運費160元，消費滿2500以上，免運費。
                  h4 宅配可指定到貨日期及時段：
                  p 可選擇時段：上午9-13點／下午13-18點
                  h4 其他注意事項：
                  p.
                    ※宅配限送台灣本島，外島恕不配送<br />
                    ※使用宅配服務因提前一天出貨給宅配公司，故商品嚐鮮期將縮短一天<br />
                    ※因宅配公司每日貨量不一，並有其自行安排之路線，恕無法指定特定時間<br />
                    ※如遇節慶期間或週末較易遇到延遲送達之情況<br />
                    ※如您欲在特定時間提貨，建議您到鄰近黑貓宅急便營業所取貨（請於訂單留言欄註記您要取貨的營業所名稱，貨到營業所會請宅配人員電話通知取件）<br />
                    ※生日蛋糕宅配運費計算方式為單顆160元，兩顆為320元，以此類推(不包含在免運優惠內)
    include footer.jade
    script(src="js/product.js")
    include scripts.jade